@import 'src/styles/colors.scss';
@import'src/styles/mixins.scss';
    
  
ul {
    padding-left: 0;
    min-height: 40vh;
    max-height: 40vh;
    margin-top: 4vh;

     @include desktop {
        padding-left: 1vh;
    } 
    .suggestionList {
        font-style: 'Raleway Dots';
        text-transform: uppercase; 
        list-style-type: none;
        display: flex;
        background:var(--background-two); 
        margin-bottom: 4px;
        width: 70vh;
        height: 24vh;
       float: left;
       overflow: hidden;
       margin: 5px;
       flex-direction: column;

       @include desktop {
        width: 50vh;
        height: 15vh;
      
    }
        h3 {
            @include desktop{
                font-size: 3vh; 
                margin-top: 2vh;
                height: 5vh;
             }
        }
        p {
            font-weight: 600;
            font-size: 12px;
            height: 10vh;
            overflow: overlay;
            color: var(--black);
            @include desktop {
                font-weight: 2vh;
            }
        }
        div {
            width: 100%;
            top:10px;
            left:0px;
        }
    } 
}

li:nth-child(odd) { background: var(--background-three); 
}

.deleteDiv {
display: flex;
align-items: center;
justify-content: center;

    .deleteButton {
        background: var(--color-delete);
        height: 30px;
        border-radius: 15px;
        width: 90px;
        
    }
}

.expandLi {
    background: var(--background-one);
    transition: 0.5s width, 0.5s 
    0.5s height;
    @include desktop {
     width: 49%;
    height: 100%; 
    overflow: hidden; 
    z-index: 1; 
    }

    h3 {
        @include desktop {
            font-size: 3vh;
        }
    }
    
    p {
        @include desktop {
            
            font-weight: 600;
            font-size: 2vh;
            height: 10vh;
        }
    }
}
.expandLi.current {
    transition: 0.5s height, 0.5s 0.5s width;
}
.viewBtn {
    width: 50%;
    background: var(--color-three);
}
.deletesugg{
    width: 50%;
    background: var(--color-delete);
}
.modal {
   /*  transition: 0.5s width, 0.5s 
    0.5s height; */
    display: block; 
    position: fixed;
    z-index: 1; 
    padding-top: 300px !important; 
    left: 0 !important;
    top: 0 !important;
    width: 100% !important; 
    height: 100% !important; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color:#fefefe00; 
    
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
  }
  .modal-content {
    background-color: #fefefe;
    margin: auto !important;
    padding: 20px !important;
    border: 1px solid #888;
    width: 60% !important;
   
  }
  