@import 'src/styles/colors.scss';


  
ul {
    padding-left: 0;

    .suggestionList {
        text-align: left;
        
        p {
            font-weight: 600;
            font-size: 12px;
        }
    } 
}

li { 
    font-style: 'Raleway Dots';
    text-transform: uppercase; 
    list-style-type: none;
    display: flex;
    background:var(--background-two); 
    margin-bottom: 4px;
   width: 25%;
   float: left;
}

li:nth-child(odd) { background: var(--background-three); 
}
.suggestionContDiv {
    float: left;
    width: 70%;
}
.deleteDiv {
display: flex;
align-items: center;
justify-content: center;

    .deleteButton {
        background: var(--color-delete);
        height: 30px;
        border-radius: 15px;
        width: 90px;
    }
}