
:root {
 --color-one: #f5b4d2;
--color-two: #a1cdce;
--color-three: #fff094;
--color-four: #ebceff;
--color-delete: rgba(249,22, 22, .5);

--white: #ffffff;
--black: #000000; 

--background-one: rgba(196, 196, 196, .2); 

--background-two: rgba(245, 191, 210, .2);

--background-three: rgba(161, 205, 206, .2);
  
}

