@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

label {
    color: var(--black);
    font-weight: 600;
    width: 100%;

    p {
        width: 100%;
        margin-bottom: 2px;
        text-align: left;
        font-size: 12px;
        padding-left: 20px;

    }
}

.activity-input {
    height: 30px;
    border-radius: 10px;
    width: 90%;
    outline: none;
}

.inputTitle {
    border-color: var(--color-one);
}

.inputDesc {
    border-color: var(--color-two);
     word-break: break-all;
}
.inputLink {
    border-color: var(--color-three);
}
fieldset {
    border: unset;
  p {
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 1;
      text-transform: uppercase;
      text-align: left;

  }
  .errorMessages {
    color: var(--color-delete);
    font-weight: 700;
    font-size: 12px;
    padding-left: 20px;
}
  #categoryDiv {
      display:flex;
      justify-content: center;
      p {
          width: 50%;
      }
  }
}
.saveBtn {
    text-transform: uppercase;
    background: var(--color-one);
    width: 70%;
    border-radius:10px;
    height: 40px; 
    font-weight: 600;

    @include tablet {
        width: 50%;
    }
    @include desktop {
        width: 20%;
        margin-top: 20px;
    }
}

.inputSection {
    width: 100%;
    margin: 0 auto;

    @include tablet {
        width: 50%;
    }
    @include desktop {
        width: 20%;
    }
}

