@import "src/styles/mixins.scss";
@import "src/styles/colors.scss";

.mainHomeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  #catButtonContainer {
    margin-top: 3vh;
  }

  .activityWrapper {
    background-color: var(--background-three);
    min-height: 40vh;
    max-height: 40vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    .activityContainer {
      border: 2px black;
      font-weight: 600;
      color: var(--black);
      display: block;
      #welcomeMsg {
        padding: 2%;
        .welcomeText {
          font-family: "Raleway Dots";
          font-size: 4vw;
          text-transform: uppercase;
          letter-spacing: 1;
          color: var(--black);
          font-weight: 600;
          display: flex;
          flex-direction: column;
          margin-bottom: 3vh;
          @include tablet {
            font-size: 4vh;
          }
          @include desktop {
            font-size: 3vh;
          }
        }
      }
      .dontShow {
        height: 0;
        max-height: 0;
      }
      #textPresentation {
        height: 40vh;
        justify-content: space-around;
        display: flex;
        flex-direction: column;

        #activityTitle {
          font-size: 30px;
          font-weight: bold;

          @include tablet {
            font-size: 40px;
          }
        }

        #activityDesc {
          padding: 15px;
          display: block;

          @include tablet {
            font-size: 18px;
            padding-top: 30px;
            padding-left: 160px;
            padding-right: 160px;
          }
        }
        a {
          color: var(--black);

          @include tablet {
            font-size: 14px;
          }
        }
      }
    }
  }
  .getActivityButton {
    width: 100%;
    @include tablet {
      margin-top: 20px;
    }
    .getActivityButton:hover {
      box-shadow: 2px 2px 2px;
    }

    .btn-new {
      background: var(--color-one);
      height: 7vh;
      border-radius: 15px;
      width: 50vh;
      text-transform: uppercase;
      font-size: 5vw;
      width: 98%;
      @include tablet {
        font-size: 3vh;
      }
    }
    .btn-new:hover {
      box-shadow: 2px 2px 2px;
    }
  }
}
#errMessage {
  padding: 2vh;
  font-weight: 600;
  font-size: 3vh;
  color: var(--color-delete);
}