@import "src/styles/colors.scss";
@import "src/styles/mixins.scss";

.goBack {
  width: 140px;
  background: var(--color-two);
  margin-top: 20px;
  button {
    text-transform: uppercase;
    font-size: 14px;
    @include tablet {
      font-size: 22px;
    }
  }
  @include tablet {
    width: 200px;
    height: 30px;
  }
}

#aboutUsContainer {
  background: var(--background-one);
  min-height: 75vh;
  padding-top: 60px;
  overflow: scroll;

  @include tablet {
    padding-top: 40px;
    height: 85vh;
  }
  @include desktop {
    height: 70vh;
  }

  #photoContainer {
    display: flex;
    justify-content: space-around;

    @include tablet {
      justify-content: center;
    }

    @include desktop {
      overflow: hidden;
    }
    img {
      object-fit: contain;
      @include desktop {
        width: 20%;
        object-fit: contain;
      }
    }
  }

  #aboutUsTextC {
    padding-top: 40px;

    .aboutUsText {
      font-weight: 350;
      width: 70%;
      display: block;
      margin-top: 40px;
      margin: 0 auto;
      font-size: 4vw;
      letter-spacing: 1px;

      @include mobile-horizont {
        font-size: 3.5vw;
      }

      @include tablet {
        width: 60%;
        font-size: 3vw;
      }
      @include tablet-plus {
        font-size: 2.7vw;
      }
      @include tablet-horizont {
        font-size: 2vw;
      }
      @include desktop {
        width: 40%;
        font-size: 1.5vw;
      }
    }
  }
}
