@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

#categoryComp {
    width: 100%;
    @include desktop {
        display: flex;
    }
}

.categoryDiv {
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
    display: flex;
    
    div {
        width: 50%;
        
        button {
            text-transform: uppercase;
        }
    } 
}
#catButtonOne {
    background: var(--color-one);
    float: left;

}
#catButtonTwo {
    background:var(--color-two);
 
}
#catButtonThree {
    background:var(--color-three);
}
#catButtonFour {
    background:var(--color-four);
 /*    margin-left: 2px; */
}