@import "src/styles/colors.scss";
@import "src/styles/mixins.scss";

#categoryComp {
  width: 100%;
  @include tablet {
    display: flex;
  }
}
.categoryDiv:first-child {
  @include tablet {
    margin-right: 5px;
  }
}
.categoryDiv:last-child {
  @include tablet {
    margin-left: 5px;
  }
}

.categoryDiv {
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
  display: flex;

  div {
    width: 50%;

    button {
      text-transform: uppercase;
    }
  }

  .btnClicked {
    box-shadow: 0 10px 40px #cc0f0fa6;
    border: 1px solid red;
  }
  .unclicked {
    box-shadow: unset;
  }

  /*  @include tablet {
        display: flex;
    } */
  @include tablet {
    display: flex;
  }
}
#alla {
  background: var(--color-one);
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  @include tablet {
    margin-bottom: unset;
  }
}
#inomhus {
  background: var(--color-two);
  margin-left: 5px;
  margin-bottom: 5px;

  @include tablet {
    margin-bottom: unset;
  }
}
#utomhus {
  background: var(--color-three);
  margin-top: 5px;
  margin-right: 5px;

  @include tablet {
    margin-top: unset;
  }
}
#baka {
  background: var(--color-four);
  margin-left: 5px;
  margin-top: 5px;

  @include tablet {
    margin-top: unset;
  }
}
