@import 'src/styles/mixins.scss';
@import 'src/styles/colors.scss';

#bannerContainer {
    background: var(--background-one);
    margin: 0 auto;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 60px;
    border-radius: 10px;
    box-shadow: 3px 3px 1px lightgray;
    @include tablet {
        width: 70%;
    }

    @include desktop {
        width: 50%;
    }
    h3 {
        font-family: 'Lobster';
        font-weight: bolder;
    }
    p{
        font-weight: 600;
        font-size: 12px;
        padding: 5px;
        display: block;
    }
}